# mill specific
out
publish.sh
credentials.sh

# sbt specific
sbt
.sbt-local
.cache
.history
.lib
dist
target
lib_managed
src_managed
credentials.sbt

# IDE specific
.idea
*.iml
.vscode/
.vim
.dotty-ide-disabled
*.swp

# Scala-CLI specific
.scala-build

# Misc
node_modules
.metals/
.bloop
metals.sbt
.bsp/
.ammonite
.coursier
.parcel-cache
*.class
*.log
.DS_Store
null/

# Direnv
.direnv
.envrc
